*{
    
    box-sizing: border-box;

}

:root{

    --color1 : #d89584;

    --color2 : #f4f4f4;
}

body{

    margin: 0;

    font-family: Arial;

    line-height: 1.5;

}

div.cover{

    background: url(cover_overlay.png) no-repeat center/100% 100% , url(cover.jpg) no-repeat center/cover;

    height: 360px;

}

img.cover-profile{

    height: 100px;

    position: relative;

    left: 50%;

    margin-left: -50px;

    margin-top : 50px;

}

div.cover p{

    color: lightgray;

    text-align: center;

    margin-top: 8px;

    font-size: 14px;
}

h1{

    color: white;

    text-align: center;

    font-size: 42px;

    margin-top: 10px;

    margin-bottom: 0;

}

div.cover-contact {

    position: absolute;

    border-left: 4px solid var(--color1);

    top : 20px;

    left: 10px;

    padding-left: 8px;

    border-radius: 5px;

}

div.cover-contact p{

    text-align: left;

    margin-top: 0;

    margin-bottom: 0;

    border-radius: 10px;

}

div.cover-contact p:first-child{ 
        
    margin-bottom: 14px;
}

div.cover-contact *{

    color: white;

    font-size: 14px;

}

a.contact-button{

    border: 3px var(--color1) solid;

    padding: 10px;

    color: #d89584;

    background-color: #00000040;

    display: inline-block; 
    
    margin-top: 15px;

    font-size: 14px;

    border-radius: 8px;
}

a.contact-button:hover{ 

    color: white;

    border: solid white;

    background-color: #d8958430;
}

.portfolio-img{

    box-shadow: -2px 2px 15px 12px #00000040;
  
    border-radius: 10px;

    border: 6px solid #f1efefa9;
}

.portfolio-img:hover{

    border: 4px solid rgb(0, 195, 255);
}

a.contact-button-portfolio{

    position: absolute; 
    
    right: 20px; 
    
    top: 5px;
}

.portfolio-url{

    color: #00000090;

    display: inline;

    font-weight: bold;

    font-family: Arial, Helvetica, sans-serif;
}

.portfolio-url div{

    text-align: center;

    background-color: #DD783590;

    border-radius: 10px;

    text-align: center;

    width: 260px;
}

.portfolio-url div:hover{

    background-color: #DD7835;

    color: #000000;
}

h2 {

    text-align: center;

    font-size: 34px;
}

.consulte-button{

    color: #00000090;

    font-weight: bold;

    font-family: Arial, Helvetica, sans-serif;

    display: block; 
    
    margin-top: 8px;

    width: 250px;

    margin-left: auto;

    margin-right: auto;
    
}

.consulte-button div{

    background-color: #DD783590;

    border-radius: 10px;

    display : block;

    color: #00000090;

    margin-left: auto;

    margin-right: auto;

    width: 250px;
}

.consulte-button div:hover{

    background-color: #DD7835;

    color: #000000;
}

#profil-button{

    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

#profil-button div{

    width: 250px;
}

.techno-tags{

    width: 475px;

    margin-left: auto;

    margin-right: auto;

    font-weight: bold;
}


.techno-tags span{

    display: inline-block;

    background-color: #97979715;

    color: rgb(51, 50, 50);

    width: 150px;

    margin-top: 10px;

    border-radius: 5px;

    text-align: center;

    font-family: "Gill Sans";

    overflow:visible ;
}

.techno-tags span:hover{

    background-color: #97979770;
}

.techno-title{

    display: block; 

    font-size: px; 

    width: 400px; 

    margin-left: auto; 

    margin-right: auto; 
    
    margin-top: 70px;

    font-size: 25px; 

    font-weight: bold;
}

.project-description{

    border: 6px solid rgba(151, 151, 151, 0.045);
    
    margin-left: 30px;

    text-align: justify;

    font-size: 20px;

    overflow: auto;

    color: rgb(61, 60, 60);

    box-shadow: 0px 0px 30px rgba(158, 161, 163, 0.288);

    border-radius: 15px;

    padding: 10px 40px 40px 40px;
}

.gray-area{ 

    background-color: var(--color2);
}

.section{

    padding-left: 40px;

    padding-right: 40px;

    padding-top: 30px;

    padding-bottom: 30px;

    overflow: auto;

}

div.section-grise1{

    background: url(triangle2white.svg) no-repeat bottom -1px center /100%;

    background-color: var(--color2);

    padding-bottom: 80px;
}

div.section-grise2{

    background: url(triangle1white.svg) no-repeat center top/100%;

    background-color: var(--color2);

    padding-top: 80px;
}

div.section-grise1 p{

    text-align: center;

    font-size: 22px;

    color: #979797;

    max-width: 450px;

    margin-left: auto;

    margin-right: auto;
}

div.separateur{

    background-color: #656565;

    height: 1px;

    width: 150px;

    position : relative;

    left: 50%;

    margin-left : -75px;

}

img.col-contenu{

    width: 40%;
}

div.col-contenu{

    width: 60%;

    padding-left: 16px;
}

.float-right{

    float: right;
}

div.text-avec-ligne-verticale{

    margin-left: 100px;

    border-left: 3px solid var(--color1);

    padding-left: 8px;

    height: 50px;

    display: inline-block;
}

div.text-avec-ligne-verticale p{

    margin-top: 0;
}

.barre-verticale{

    height: 50px;

    width: 4px;

    background-color: var(--color1);

    margin-right: 30px;

    border-radius: 10px;
}

.col-portfolio{

    width: 47%;
}

div.frame{

    margin: 30px 50px;

    padding: 20px 30px;

    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);

    background-color: #ffffff;

    border-radius: 7px;
}

p.frame-title{

    font-size: 30px;

    margin-top: 5px;

    margin-bottom: 20px;
    
    text-align: center;
}

div.frame img{

    width: 100px;
}

iframe{

    width: 100%;

    height: 350px;
}

.portfolio-header{

    height: 90px;

    background: url(cover.jpg) no-repeat center/cover;

    position: relative;
}

.portfolio-header-title{

    font-size: 26px;

    color: #ffffff;

    font-weight: bold;

    padding-top: 4px;

    padding-left: 8px;
}

img.portfolio{

    width: 70%;

    max-width: 473px;

    border-radius: 20px;

    margin-top: 40px;
}

h1.portfolio{

    font-size: 45px;

    color: black;

    font-weight: bold;
}

h2.portfolio{

    font-size: 22px;

    line-height: 1;

    margin-top: 0px;

    margin-bottom: 0px;
}

a.portfolio-back{

    margin-left: -10px;
}

.display-mobile{

    display: none;
}

a{

    text-decoration: none;
}

/* RESPONSIVE */

@media only screen and (max-width: 767px){ 

    img.cover-profile{

        height: 90px;
    
        margin-top : 50px;
    }
    
    div.cover p{
    
        margin-top: 2px;
    
        font-size: 13px;
    }
    
    h1{
    
        font-size: 38px;
    
        margin-top: 6px;
    
        margin-bottom: 0;
    }

    .section{

        padding-left: 20px;
    
        padding-right: 20px;    
    }
    
    div.section-grise1{

        padding-bottom: 40px;

        font-size: 17px;
    }

    .col-portfolio{

        float: none;

        width: 100%;

        margin-bottom: 20px;
    }

    div.section-grise2{

        padding-top: 20px;
    }

    div.col-contenu{

        width: 100%;

        padding-left: 0px;
        
        margin-top: 20px;
    }

    img.col-contenu{

        width: 100%;
    }

    div.frame{
    
        box-shadow: none;

        padding: 0 0;

        margin: 0px 0px ;
    }
    
    p.frame-title{
    
        font-size: 25px;
        
        text-align: center;

        padding-top: 10px;

        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    } 

    div.text-avec-ligne-verticale{
        
        margin-left: 10px;

        box-shadow: none;
    }

    div.frame img{

        width: 70px;
    }

    div.back-button{

        width: 70px;
    }

    .techno-tags span{

        color: #000000;

        font-size: 10px;

        font-weight: bold;

        height: 20px;

        margin-top: 10px;
    }

    .techno-tags{

        width: auto;
    }

    .break{

        display: none;
    }

    .techno-title{

        width : 280px;
    
        font-size: 22px;

        margin-top: auto;
    }

    .project-description{

        border: none;

        padding: 0 0 0 0;

        font-size : 15px;

        box-shadow: none;

        margin-left: 0;

        background-color: white;
    
        width : auto;
    }

    .gray-area{

        background-color: white;
    }


    /* PORTFOLIO - MOBILE */

    .portfolio-header-title{

        font-size: 20px;

        padding-top: 8px;
    }
    
    a.contact-button-portfolio{
        
        right: 8px; 
    }

    a.contact-button{

        font-size: 12px;

        padding: 7px 15px;

        margin-top: 22px;
    }

    h1.portfolio{

        font-size: 40px;
    }
    
    h2.portfolio{
    
        font-size: 22px;
    }

    img.portfolio{

        width : 100%;
    }

    .display-mobile{

        display: block;
    }
}
